@charset "UTF-8";
/*----------------------------*\
filename: style.scss
author  : loganxie
email  	: loganxie@tencent.com
create  : 	
加油少年！GO！GO！GO！
\*----------------------------*/
/*定义常量*/
@font-face {
  font-family: 'Nunito-Bold';
  src: url(../fonts/Nunito-Bold.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: bottom;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Nunito-Bold, Microsoft YaHei;
  font-size: 66.7%;
}

[hidden] {
  display: none !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9rem;
  height: 9rem;
  margin-left: -4.5rem;
  margin-top: -4.5rem;
  background: url(../images/Preloader_3.gif) no-repeat left top;
  background-size: 9rem 9rem;
}

.mask {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #FFF;
}

ul,
li {
  list-style: none;
}

a,
a:link,
a:visited {
  transition: 1s;
  text-decoration: none;
}

@keyframes breathing {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes breathing
/* Firefox */ {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes breathing
/* Safari 和 Chrome */ {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes breathing
/* Opera */ {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
  }
}
.container {
  height: 100%;
  font-size: 1.3rem;
}
.container .mid-icon {
  left: 70%;
  margin-left: -4.5rem;
  width: 9rem;
  height: 9rem;
  top: 15rem;
  position: absolute;
  z-index: 2;
  border-radius: 100%;
  overflow: hidden;
  transition: 1s;
}
.container .mid-icon img {
  height: 9rem;
}
@media screen and (max-width: 600px) {
  .container .mid-icon {
    left: 50%;
    width: 6rem;
    height: 6rem;
    margin-left: -3rem;
  }
  .container .mid-icon img {
    height: 6rem;
  }
}
.container .panel {
  padding: 1.5rem;
  position: absolute;
  height: 100%;
  transition: 1s;
}
.container .panel .desc {
  height: 15rem;
}
.container .panel h3 {
  font-size: 2.5rem;
}
.container .panel h4 {
  font-size: 2.1rem;
  padding-top: 2rem;
}
.container .panel ul {
  margin-top: 9rem;
}
.container .panel ul li {
  margin-top: 0.8rem;
}
.container .panel-left {
  width: 70%;
  text-align: right;
  background-color: #09c;
  color: #FFF;
}
.container .panel-left a,
.container .panel-left a:link,
.container .panel-left a:visited {
  color: #FFF;
}
.container .panel-left a:hover {
  color: #F66;
}
@media (max-width: 600px) {
  .container .panel-left {
    width: 50%;
  }
}
.container .panel,
.container .panel-left:hover {
  background-color: #FFF;
  color: #09c;
}
.container .panel a,
.container .panel a:link,
.container .panel a:visited,
.container .panel-left:hover a,
.container .panel-left:hover a:link,
.container .panel-left:hover a:visited {
  color: #09c;
}
.container .panel a:hover,
.container .panel-left:hover a:hover {
  color: #9C3;
}
.container .panel,
.container .panel-left:hover + .panel-right {
  background-color: #09c;
  color: #FFF;
}
.container .panel a,
.container .panel a:link,
.container .panel a:visited,
.container .panel-left:hover + .panel-right a,
.container .panel-left:hover + .panel-right a:link,
.container .panel-left:hover + .panel-right a:visited {
  color: #FFF;
}
.container .panel a:hover,
.container .panel-left:hover + .panel-right a:hover {
  color: #9C3;
}
.container .panel-right {
  width: 30%;
  left: 70%;
  text-align: left;
  color: #09c;
  background-color: #FFF;
}
.container .panel-right a,
.container .panel-right a:link,
.container .panel-right a:visited {
  color: #09c;
}
.container .panel-right a:hover {
  color: #9C3;
}
@media screen and (max-width: 600px) {
  .container .panel-right {
    width: 50%;
    left: 50%;
  }
}
.container .panel-right:hover + .mid-icon {
  transform: rotateY(180deg);
}

/*# sourceMappingURL=style.css.map */
